/* 
    ##### FONT
    - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
    - Weights: 500, 700, 900

    ##### Responsive
    - Mobile: 375px
    - Desktop: 1440px

    ##### Colors
:root {

    ### Primary
    - Pale blue: hsl(225, 100%, 94%)
    - Bright blue: hsl(245, 75%, 52%)

    ### Neutral
    - Very pale blue: hsl(225, 100%, 98%)
    - Desaturated blue: hsl(224, 23%, 55%)
    - Dark blue: hsl(223, 47%, 23%)
}
 */
:root {

    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body, p, h1 {
    margin: 0;
}
h1, p {
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
button {
    font-family: inherit;
    font-size: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    background-image: url(https://raw.githubusercontent.com/putraprdn/order-summary/4f4666fef0934c932993fff9672e5e31ee5546ed/images/pattern-background-desktop.svg);
    background-color: var(--Pale-blue);
    background-repeat: no-repeat;
    background-size: 100%;
}

#hero {
    display: flex;
    flex-direction: column;

    margin: 4vh auto 0 auto;
    max-width: 25rem;
    width: 100%;

    background: white;
    box-shadow: 0 1.25rem 4rem -2.25rem var(--Bright-blue);
    border-radius: 30px;
    overflow: hidden;
}

.hero-image img {
    display: block;
    max-height: 12.75rem;
}
.hero-container {
    margin: 1.625rem 2.625rem;
    text-align: center;
}
.hero-desc {
    text-align: center;
}
.hero-desc h1 {
    font-weight: 900;
    font-size: 2rem;
}
.hero-desc p {
    color: grey;
    margin: 1.25rem 0;
}
.hero-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-radius: 10px;
    background: var(--Very-pale-blue)
}
.pricing-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-img img{
    max-width: 3rem;
    height: auto;
}
.pricing-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pricing-desc .title {
    font-weight: 900;
    margin: 0 0.25rem 0.25rem;
}
.pricing-desc .desc {
    color: grey;
}
.pricing-link {
    font-weight: 700;
    align-self: center;
    margin-left: 2.25rem;
}
.pricing-link a:hover {
    color: #766cf1;
    text-decoration: none;
    transition: all 0.2s;
}
.button {
    display: flex;
    flex-direction: column;
    margin-top: 1.625rem;
}
.button .button-confirm {
    font-weight: 700;
    color: white;
    padding: 1rem 4rem;
    background: var(--Bright-blue);

    outline: none;
    border: none;
    box-shadow: 0 1.25rem 4rem -1.25rem var(--Bright-blue);
    border-radius: 10px;

    cursor: pointer;
}
.button .button-confirm:hover {
    transition: all 0.2s;
    background-color: #766cf1;
}
.button .button-cancel {
    font-weight: 700;
    color: grey;
    text-decoration: none;
    margin-top: 1.5rem;
}
.button .button-cancel:hover {
    color: black;
}

@media screen and (max-width : 375px) {
    html {
        font-size: 10px;
    }
    body {
        background-image: url(https://raw.githubusercontent.com/putraprdn/order-summary/4f4666fef0934c932993fff9672e5e31ee5546ed/images/pattern-background-mobile.svg);
    }
}